## REQUIRED ##

# Top-level domain for hosting nextcloud
DOMAIN=

# Sets the host directory for Nextcloud's storage directory.
# ⚠️ DO NOT CHANGE AFTER INSTALLATION! ⚠️
NEXTCLOUD_STORAGE=

# Nextcloud initial admin user credentials
NEXTCLOUD_ADMIN_USER=
NEXTCLOUD_ADMIN_PASSWORD=

# MySQL database details
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=

## OPTIONAL ##

# Space-delimited list of startup apps for the Nextcloud instance
NEXTCLOUD_STARTUP_APPS="contacts calendar notes"

# OpenID Connect Configuration
OIDC_PROVIDER_NAME=
OIDC_CLIENT_ID=
OIDC_CLIENT_SECRET=
OIDC_CONFIGURATION_URL=

# Either of the following may be set to override the default image behavior.
# TRUSTED_PROXIES should be a space-delimited list of IPs to trust - this is all private IPs by default.
# Any definition of NO_TRUSTED_PROXIES will prevent the instance from trusting any proxies by default.
# TRUSTED_PROXIES="10.0.0.0/8 172.16.0.0/12 192.168.0.0/16"
# NO_TRUSTED_PROXIES="defined"

# Set the default phone region for the instance.
DEFAULT_PHONE_REGION="US"
