# Sets the host directory for Nextcloud's datadir. (https://github.com/nextcloud/all-in-one#how-to-change-the-default-location-of-nextclouds-datadir)
# ⚠️ DO NOT CHANGE AFTER INSTALLATION! ⚠️
DATADIR=

# Nextcloud apps that are installed on starting AIO the first time. (https://github.com/nextcloud/all-in-one#how-to-change-the-nextcloud-apps-that-are-installed-on-the-first-startup)
STARTUP_APPS="calendar contacts notes"
