## REQUIRED ##

# Top-level domain for the Grocy host
DOMAIN=example.com

# Service storage directory
SVC_STORAGE_DIR=/data/grocy

# Timezone
TZ=America/Los_Angeles

# User and group IDs for file permissions
UID=1000
GID=1000

## OPTIONAL ##

# Label printer settings - See config-dist.php for the defaults
#GROCY_LABEL_PRINTER_WEBHOOK=
#GROCY_LABEL_PRINTER_RUN_SERVER=
#GROCY_LABEL_PRINTER_HOOK_JSON=

# Thermal printer settings for receipt printing - See config-dist.php for the defaults
# The printer must support the ESC/POS protocol, see https://github.com/mike42/escpos-php
#GROCY_TPRINTER_IS_NETWORK_PRINTER=
#GROCY_TPRINTER_PRINT_QUANTITY_NAME=
#GROCY_TPRINTER_PRINT_NOTES=
#GROCY_TPRINTER_IP=
#GROCY_TPRINTER_PORT=
#GROCY_TPRINTER_CONNECTOR=
