# Storage location for Pi-hole data
SVC_STORAGE_DIR=/data/pihole
# Initial password for the web admin interface
WEBPASSWORD=
# Timezone for the container
TZ=America/Los_Angeles
# IP address of the host machine, used for internal DNS resolution
NODE_IP=192.168.X.X
