DOMAIN='example.com'
SVC_GRAFANA_DIR='/data/grafana'
SVC_PROMETHEUS_DIR='/data/prometheus'
GRAFANA_USER_ID=1000
GRAFANA_GROUP_ID=1000
GRAFANA_DB_USER='grafana'
GRAFANA_DB_PASSWORD='db-password'
GRAFANA_OAUTH_CLIENT_ID='from-authentik'
GRAFANA_OAUTH_CLIENT_SECRET='from-authentik'
GRAFANA_OAUTH_ROLE_ATTRIBUTE_PATH="contains(groups[*], 'admin') && 'Admin' || 'Viewer'"
